body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#lango {
	text-align: left;
	margin-left: 13%;
	font-family: Raleway Black, sans-serif;
	font-size: 50pt;
	font-weight: bold;
	flex: 4;
}

#startReview {
	flex: 1;
	color: white;
	font-size: 15pt;
	margin-left: 5%;
	padding-right: 26px;
	padding-left: 22px;
	background-color: rgb(42, 37, 109);
	border-radius: 20px;
}


#logo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: Raleway Black, sans-serif;
  margin-top: 10%;
  color: rgb(42,37,109);
}

#input{
	width: 98%;
	height: 98%;
	text-align: center;
	vertical-align: middle;
}

#textCard {
    display:flex;
    border-style: solid;
    border-width: 4px;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 300px;
    flex:1;
    align-items: center;
    justify-content: center;
}

#textCard2 {
    display: flex;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    margin-top: 10%;
    margin-right: 10%;
    flex:1;
    height: 300px;

    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.answerCardWrapper {
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  margin: 0 auto;
}

#answerCard {
  float: left;
  display:none;
  border-style: solid;
  border-width: 4px;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  height: 300px;
  align-items: center;
  justify-content: center;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#frontCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  position: absolute;
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  background: #FC0;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

#frontText {
  height: auto;
  width: auto;
  text-align: center;
  vertical-align: middle;
}

#backCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#answerBox {
	display: none;
	border-style: solid;
	border-width: 4px;
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
	height: 100px;
	width: 80%;

}

#usernameBar {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgb(42,37,109);
  margin-top: 10%;
}

#username {
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
}

#flashcards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
}

#saveButton {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#save {
	margin-top: 5%;
	background-color:rgb(23, 198, 140);
	color: white;
	font-size: 13pt;
	margin-right: 10%;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

#nextButton {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#next {
	display: none;
	margin-top: 5%;
	margin-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	background-color: rgb(23, 198, 140);
	color: white;
	font-size: 13pt;
}

#flip {
  display: none;
  margin-top: 3%;
  margin-right: 3%;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 60px;
  background: white;
  cursor: pointer;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: .7em;
  padding: 0;
  border: 1px solid black;
}

#frontCard, #backCard{
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  -moz-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
  box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
}

.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100vw;
    height:100vh;
    padding-bottom: 8%;
}

#logo{
    text-align: center;
}
/* don't get weird blue border when I type */
textarea:focus {
    outline: none;
}

textarea {
    border: none;
}
