main {
	display: flex; 
	flex-direction: row; 
}

#title {
	/*text-align: center;*/
	padding-left: 15%;
	font-family: 'Raleway', sans-serif; font-weight: 700; font-style: normal;
	font-size: 50pt; 
	color: white;  
}

#message {
	/*text-align: center;*/
	padding-left: 15%;
	padding-top: 5%;
	font-family: 'Open Sans Light', sans-serif; font-weight: 100; font-style: normal;
	font-size: 24pt;
	font-weight: 100;
	color: rgb(23, 198, 140);

}

#welcome { 
	display: flex; 
	flex-direction: column;
	background-image: linear-gradient(to bottom right, rgb(37, 17, 137), rgb(131, 102, 186));  
	box-shadow: 10px 0px 5px grey;
	height: 100vh;
	flex: 1;
	/*align-items: center;*/
	justify-content: center;
}

#login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	justify-content: center;
	align-items: center;
	background-color: white;
}

a {
	/* vertical-align: middle;
	display: block;
	text-align: center;*/
	font-family: 'Helvetica', sans-serif;
	border-style: solid;
	background-color: rgb(23, 198, 140);
	font-size: 16pt;
	color: white; 
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
} 

 
